# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook
*.ipynb_checkpoints

# SQL
*.sqlite
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test/ETL output
output/
data/
*.csv
*.tsv
*.parquet
*.xlsx
*.json
*.log

# Secrets
*.env
.env.*
secrets/